body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header-component {
  background-color: #c2a9ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.addToCart {
  padding: 10px;
  cursor: pointer;
}

ul {
  padding-left: 40px;
}
